// SOME GLOBALS.
$max-width:944px;

//BRAND COLORS.
$envoyred:#e34e33;
$envoyaccent:#67d9da;
$heroblood:#d90e0a;

//FONTS.
$bigboldfamily:"Arial Bold", sans-serif;
$heroTitleFamily:'Oswald', sans-serif;
$heroTextFamily:'Arial', sans-serif;