// LIBS
@import "bourbon/app/assets/stylesheets/bourbon";
@import "neat/app/assets/stylesheets/neat";
@import "compass";
@import "breakpoint";
@import "normalize-scss/normalize";
// ETC
@import "breakpoints";
@import "variables";
@import "mixins";
@import "slidingpanel";

html {
	color:#fff;
	background-color: #1d1d1d;
}

.red {
	color:$envoyred;
}
//DEFAULTS.
section {
  @include outer-container;

  aside {
  	border:1px solid orange;
    @include span-columns(3);
  }
  article {
    @include span-columns(9);
  }
}
.main-container {
	@include outer-container(100%);
}

.main-container {
	*zoom: 1;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.hero-img {
	display:block;
	position:relative;
	background-color: #fff;
	top:0;
	.hero-mob{
		display:block;
	}
	.hero-big{
		display:none;
	}
	img {
		max-width:100%;
	}

	.hero-nav{
		@include outer-container(100%);
		display:block;
		position:absolute;
		// 
		width:100%;
		height:60px;
		bottom:20px;
		.balanced{
			right:0;
			width:auto;
			.dots-con{
				display: inline-block;
				position: relative;
				top:35px;
				left:0;
				margin-left: 5%;
				width:100px;
				height:30px;

				.dot{
					width:12px;
					height:12px;
					margin:3px;
					display:inline-block;
					position:relative;
					background-color:#fff;
					border-radius: 50%;
				}
				.dot.red{
					background-color:$envoyred;
				}
			}	
			.arrow-con{
				display:inline-block;
				float:right;
				margin-right:5%px;
				.ar, .al {
					display: inline-block;
					width:17px;
					height:29px;
					margin:0 14px;
				}
			}
		}
	}
}

.hero-overlay{
	display:block;
	position:absolute;
	top:170px;
	padding-left:5%;
  	padding-right:5%;
	
	.title {
		display:block;
		position:relative;
		line-height:50px;
		font-family: $heroTitleFamily;
		font-size:50px;
		text-transform: uppercase;
		color:$heroblood;
		font-weight:700;
		letter-spacing: -0.8px;
		max-width:235px;
	}
	.text{
		display:block;
		margin-top:20px;
		font-family: $heroTextFamily;
		color:#9f9f9f;
		font-size:16px;
		max-width:360px;
	}
}
//HEADER. PERHAPS TOO GENERIC.
header{
	position:absolute;
	top:0;
	height: 60px;
	width:100%;
	opacity:1;
	background-color:rgba(0,0,0,0.8);

	.header-content{
		@include outer-container;
		line-height: 60px;
		height:60px;
		padding-left:0;
		.envoy-logo {
			display:block;
			float:left;
			margin-right:25px;
			img{
				vertical-align:middle;
			}
			padding-left:5%;
			margin-right:0;
		}
		nav{
			display:none;
		}
	}
}

.tweet-con {
	background-color: #464646;
	display:block;
	position:relative;
	// right:0;
	float:right;
	width:200px;
	height:40px;
	top:20px;
	line-height: 40px;

	img{
		display:inline-block;
		vertical-align:middle;
	}
	span {
		color:#67d9da;
		font-size:13px;
	 	display: inline-block;     
	}
	.plusbox{
		width:40px;
		height:40px;
		background-color: $envoyred;
		float:right; 
		img{

		}
	}
	display:none;
}

.lead-par{
	display:block;
	position:relative;
	@include bigBold;
	font-size:28px;
	line-height: 28px;
  	padding-left:5%;
  	padding-right:5%;
	padding-top:55px;
	padding-bottom:30px;
	border-bottom:px solid #272727;
}

.section-title-head{
	display:block;
	position:relative;
	padding:70px 5% 30px 5%;
	margin-bottom:20px;
	border-bottom:1px solid #272727;
	.title{
		@include sectionHeadTitle;
	}
	.sub {
		@include sectionHeadSub;
	}
}

.main-container:before, .main-container:after {
	content: " ";
	display: table;
}

.main-container:after {
	clear: both;
}

.feature-area , .news-area{
	div.box {
  		@include span-columns(12);
  		padding-left:5%;
  		padding-right:5%;
  		margin-bottom:40px;
	}
}
.news-area{
	div.box {
	 	@include span-columns(12);

	}
}
.news-area {
	margin-bottom: 60px;
}
.feature-img {
	display:block;
	position: relative;
	margin-bottom: 18px;
	margin-left:0;
	margin-right:0;
 	@include media($mobile) {
 		width:100%;
 		margin-left: auto;
 		margin-right: auto;
	}
	@include media($tablet) {
 		width:100%;
 		margin-left: auto;
 		margin-right: auto;
	}
}
.feature-title, .feature-accent, .feature-descr, .news-title{
	font-family:$bigboldfamily;
	font-size: 18px;
	font-weight: bold;
	color:#fff;
}
.news-title{
	width:100%;
	letter-spacing: -1.6px;
	font-size:36px;
	line-height:34px;
	@include media($mobile) {
		padding-bottom:5px;
	}
	@include media($tablet) {
		padding-bottom:5px;
	}

}
.news-title.accent {
	color:$envoyaccent;
}
.feature-accent{
	color:$envoyaccent;
}
.feature-descr, .feature-view-more,.news-date{
	font-size:13px;
	color:#9f9f9f;
}
.news-date{
	display:block;
	padding-top:5px;
}
.feature-descr{
	position:relative;
	display:block;
	margin-top:6px;
	line-height:16px;
}
.feature-view-more, .read-more{
	margin-top:13px;
	color:$envoyred;
}



//TABLET
@include media($tablet) {

	.hero-img {

		img{
			width:100%;
			display:block;
			position:relative;
			margin:0 auto;
		}
		.hero-mob{
			display:block;
		}
		.hero-big{
			display:none;
		}
		.hero-nav{
			.balanced {
				.dots-con{
					top:10px;
					margin-left: 30%;
				}	
				.arrow-con{
					margin-right:220px;
				}
			}

		}
		

	}

	.hero-overlay{
  		padding-left:25%;
  		padding-right:5%;
  		top:400px;
	}
	.feature-area , .news-area{
		div.box {
	  		@include span-columns(4);
	  		padding-left:5%;
	  		padding-right:5%;
	  		margin-bottom:40px;
		}
	}
	.news-area{
		div.box {
	     	@include span-columns(4);
	    	
		}
	}
}

//DESKTOP
@include media($desktop) {
	.hero-img {
		
		img{
			max-height: 100%;
			display:block;
			position:relative;
			margin:0 0;
		}
		.hero-mob{
			display:none;
		}
		.hero-big{
			display:block;
		}
		.hero-nav{
			.balanced {
				.dots-con{
					margin-left: 42%;
					
				}	
				.arrow-con{
					margin-right:90px;
				}
			}

		}
	}
	.hero-overlay{
		top:200px;
		padding-left:0;
		padding-right:0;
	}
	header{
		.header-content{
			padding-left:0;
			.envoy-logo {
				padding-left:0%;
				margin-right:25px;
			}

			nav{
				margin-top:7px;
				display:inline-block;
				a{
					color:#ffffff;
					text-decoration: none;
					font-size: 13px;
					margin-right: 20px;
				}
				a:hover{
					color:$envoyred;
				}
			}
		}
	}
	.tweet-con {
		display: block;
	}
	.lead-par{
		font-size:32px;
		padding-left:0;
  		padding-right:0;
	}
	.section-title-head {
		padding:70px 0 30px 0;
	}

	.feature-area , .news-area{
		div.box {
		  	padding-left:0;
	      	padding-right:0;
			@include span-columns(4);
		 	@include omega(4n);	
		}
	}
	.news-area{
		div.box {
		 	@include span-columns(4);
		 	@include omega(4n);
		}
	}
	.news-area {
		margin-bottom: 60px;
	}
	.feature-img {
		display:block;
		position: relative;
		margin-bottom: 18px;
		margin-left:0;
		margin-right:0;
	}
}
